#result_fizzbuzz--showAll {
    overflow: hidden;
    margin-top: 10px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fizzDiv {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.fizzDiv > strong {
    width: 75px;
}

.cardCol {
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 20px;
    height: 100%;
    font-size: 15px;
}